*.vsconfig
Logs/AssetImportWorker0.log
Packages/packages-lock.json
Logs/ApiUpdaterCheck.txt
Logs/
Library/
obj/
Temp/
Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
ProjectTech.sln
Unity.AddressableImporter.Editor.csproj
Unity_lic.alf
.vs/ProjectTech/v16/.suo
ProjectTech.sln.DotSettings.user
.idea/.idea.ProjectTech/.idea/.gitignore
.idea/.idea.ProjectTech/.idea/encodings.xml
.idea/.idea.ProjectTech/.idea/indexLayout.xml
.idea/.idea.ProjectTech/.idea/vcs.xml
